<!DOCTYPE html>
<html>

<head>
    <title>Todos</title>
    <style>
        body {
            background-image: url('https://img.freepik.com/premium-photo/list-icon-notebook-with-completed-todo-list-3d-render_471402-428.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }


        h1 {
            text-align: center;
        }

        ul {
            list-style-position: inside;
            text-align: center;
        }

        li {
            border-radius: 25px;

            padding: 1px;

            text-align: center;

            font-size: 28px;

            color: #DF2A41;

            text-shadow: -1px 0 black, 0 1px green, 1px 0 green, 0 -1px black;




        }

        form {
            text-align: center;
        }

        .submit {
            text-align: center;
            background: #016ABC;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }

        .submit:hover {
            background: #B9DFFF;
            color: #fff;
            border: 1px solid #eee;
            border-radius: 20px;
            box-shadow: 5px 5px 5px #eee;
            text-shadow: none;
        }
    </style>
</head>

<body>
    <h1><u>ToDo List:</u></h1>
    <ul>
        {% for todo in todos %}
        <li>{{todo}}</li>
        {%endfor%}
    </ul>
    
    <form method="post">
        <input name="new_todo">
        <input type="submit" class="submit">
    </form>


</body>

</html>